In [742]:
# Analysisng for Trends in Balance sheet

In [743]:
!pip install numpy 
!pip install pandas
!pip install matplotlib
!pip install seaborn
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: numpy in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (1.18.5)

WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)

Requirement already satisfied: pandas in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (1.3.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)

Requirement already satisfied: matplotlib in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (3.4.2)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from matplotlib) (8.3.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.16 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from matplotlib) (1.18.5)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: six in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)

WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)

Requirement already satisfied: seaborn in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (0.11.1)
Requirement already satisfied: matplotlib>=2.2 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from seaborn) (3.4.2)
Requirement already satisfied: scipy>=1.0 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from seaborn) (1.4.1)
Requirement already satisfied: numpy>=1.15 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from seaborn) (1.18.5)
Requirement already satisfied: pandas>=0.23 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from seaborn) (1.3.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from matplotlib>=2.2->seaborn) (8.3.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: six in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\envs\stocks\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)

WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\envs\stocks\lib\site-packages)

In [744]:
import yfinance as yf
import seaborn as sn
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [745]:
# Downloaded Statements form Screener.in for MotherSumi
df=pd.read_csv("MothersonSumi.csv", index_col =None)

In [746]:
df

,MOTHERSON SUMI SYSTEMS LTD,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,SCREENER.IN,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Narration,Mar-12,Mar-13,Mar-14,Mar-15,Mar-16,Mar-17,Mar-18,Mar-19,Mar-20,Mar-21
2,Equity Share Capital,38.80,58.80,88.20,88.20,132.30,140.40,210.50,315.80,315.80,315.79
3,Reserves,"1,832.50","2,230.20","2,871.10","3,235.60","4,264.80","8,132.30","9,673.60","10,646.90","10,945.10","12,244.81"
4,Borrowings,"4,602.30","4,903.90","4,839.70","5,130.60","6,068.70","10,349.30","10,373.60","11,534.20","13,136.40","10,092.48"
5,Other Liabilities,"5,492.20","5,546.40","7,444.90","8,970.70","9,198.80","13,321.70","16,716.40","20,257.10","20,635.80","25,431.88"
6,Total,"11,965.80","12,739.30","15,243.90","17,425.10","19,664.60","31,943.70","36,974.10","42,754.00","45,033.10","48,084.96"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Net Block,"4,692.20","5,277.00","5,918.90","6,128.90","7,146.90","12,192.60","14,712.30","18,422.70","20,750.10","20,137.65"
9,Capital Work in Progress,445.80,385.90,647.10,955.80,"1,397.00","1,934.80","2,584.90","1,066.80",851.80,838.28
10,Investments,93.80,71.60,74.90,64.90,589.70,473.70,791.60,855.40,796.10,846.61
11,Other Assets,"6,734.00","7,004.80","8,603.00","10,275.50","10,531.00","17,342.60","18,885.30","22,409.10","22,635.10","26,262.42"
12,Total,"11,965.80","12,739.30","15,243.90","17,425.10","19,664.60","31,943.70","36,974.10","42,754.00","45,033.10","48,084.96"
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Working Capital,"1,241.80","1,458.40","1,158.10","1,304.80","1,332.20","4,020.90","2,168.90","2,152.00","1,999.30",830.54
15,Debtors,"3,012.70","2,940.00","3,238.40","3,014.40","4,653.70","4,655.20","5,623.60","6,166.30","5,178.40","5,693.06"
16,Inventory,"2,249.60","2,603.60","3,282.20","3,750.00","2,285.00","3,071.60","4,013.20","4,663.40","5,156.60","4,995.64"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Debtor Days,74.47,42.42,38.86,31.74,45.64,40.10,36.46,35.43,29.75,36.22
19,Inventory Turnover,6.56,9.72,9.27,9.24,16.29,13.80,14.03,13.62,12.32,11.48
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Return on Equity,14%,19%,26%,26%,29%,19%,16%,15%,10%,8%
22,Return on Capital Emp,NaN,16%,25%,26%,28%,24%,19%,17%,12%,9%
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [747]:
# Dropping Null Values from the dataframe
df=df.dropna()

In [ ]:
df

In [ ]:
# Transposing Rows and column
df_t = df.T

In [ ]:
df_t

In [ ]:
# set index using column
df_t = df_t.set_index( 1, inplace =False)

In [ ]:
df_t

In [ ]:
df_t.columns = ['Equity Share Capital','Reserves','Borrowings','Other Liabilities','Total1','Net Block','Capital Work in Progress','Investments','Other Assets','Total','Working Capital','Debtors','Inventory','Debtor Days','Inventory Turnover','Return on Equity']

In [ ]:
# Naming Index as Year
df_t.index.names = ["Year"]

In [ ]:
df_t

In [ ]:
# Dropping first row
df_t = df_t.drop("Narration", axis=0)

In [ ]:
df_t

In [ ]:
# Droppring Total1 column, which is a duplicate column
df_t.drop('Total1', inplace=True, axis=1)

In [ ]:
#Code to % remove a character from Return on Equity
df_t["Return on Equity"] = df_t["Return on Equity"]. str. replace(r'\D', '')

In [ ]:
# Completed Extraction and Cleaning, preprocessing Done
df=df_t
df

In [ ]:
df.info()

In [ ]:
# Exploratory Data Analysis for each features

In [ ]:
# Converting Strings into float variables
df["Equity Share Capital"] = [float(str(i).replace(",", "")) for i in df["Equity Share Capital"]]
df["Reserves"] = [float(str(i).replace(",", "")) for i in df["Reserves"]]
df["Borrowings"] = [float(str(i).replace(",", "")) for i in df["Borrowings"]]
df["Other Liabilities"] = [float(str(i).replace(",", "")) for i in df["Other Liabilities"]]
df["Net Block"] = [float(str(i).replace(",", "")) for i in df["Net Block"]]
df["Capital Work in Progress"] = [float(str(i).replace(",", "")) for i in df["Capital Work in Progress"]]
df["Investments"] = [float(str(i).replace(",", "")) for i in df["Investments"]]
df["Other Assets"] = [float(str(i).replace(",", "")) for i in df["Other Assets"]]
df["Total"] = [float(str(i).replace(",", "")) for i in df["Total"]]
df["Working Capital"] = [float(str(i).replace(",", "")) for i in df["Working Capital"]]
df["Debtors"] = [float(str(i).replace(",", "")) for i in df["Debtors"]]
df["Inventory"] = [float(str(i).replace(",", "")) for i in df["Inventory"]]
df["Debtor Days"] = [float(str(i).replace(",", "")) for i in df["Debtor Days"]]
df["Inventory Turnover"] = [float(str(i).replace(",", "")) for i in df["Total"]]
#df["Return on Equity"] = [float(str(i).replace(",", "")) for i in df["Inventory Turnover"]]

In [ ]:
df.info()

In [ ]:
import seaborn as sb
sb.distplot(df['Borrowings'], kde= True)

In [ ]:
# To find Mean, median, Mode , Standard deviation, quartile, Min and Max values.
df.describe()

In [ ]:
df.info()

In [ ]:
# to find Mean values of the company
df.mean()

In [ ]:
# to find Median values of the company
df.median()

In [ ]:
# to find Standard Deviation of the company
df.std()

In [ ]:
# Plotting for each feature
df.plot(figsize=(20,7))

In [ ]:
df["Return on Equity"]